In [1]:
import pandas as pd
import requests

In [10]:
api = 'api/audienceType'
r = requests.get('http://localhost:3000/' + api)
df = pd.DataFrame.from_dict(r.json())
print(len(df.index), len(df.vidId.unique()))

115 65

In [13]:
df[df.duplicated(subset='vidId',keep=False)].sort_values('vidId')

           vidId    age                  playListTitle
112  0bDbnwLsC2E  child  Barnet libraries for children
62   0bDbnwLsC2E  child  Barnet libraries for children
87   0bDbnwLsC2E  child  Barnet libraries for children
70   6fO5M34OM4o  child  Barnet libraries for children
45   6fO5M34OM4o  child  Barnet libraries for children
..           ...    ...                            ...
63   zPnyWgwatzs  child  Barnet libraries for children
113  zPnyWgwatzs  child  Barnet libraries for children
96   zj7TO-X10HM  child  Barnet libraries for children
71   zj7TO-X10HM  child  Barnet libraries for children
46   zj7TO-X10HM  child  Barnet libraries for children

[75 rows x 3 columns]